In [91]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns',None)

In [92]:
credit = pd.read_csv('credits.csv')
credit

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

In [93]:
meta=pd.read_csv('movies_metadata.csv')
meta.head(5)

/tmp/ipykernel_4869/2930494875.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  meta=pd.read_csv('movies_metadata.csv')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [94]:
meta['release_date'] = pd.to_datetime(meta['release_date'],errors='coerce')

In [95]:
meta['year'] = meta['release_date'].dt.year

In [96]:
meta

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,1995.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,1995.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,1995.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,1995.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,1995.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,0.072051,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",NaT,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,NaN
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,2011.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,2003.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0,1917.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,2017.0

In [97]:
meta['year'].value_counts().sort_index()

year
1874.0       1
1878.0       1
1883.0       1
1887.0       1
1888.0       2
          ...
2015.0    1905
2016.0    1604
2017.0     532
2018.0       5
2020.0       1
Name: count, Length: 135, dtype: int64

In [98]:
new_meta = meta.loc[meta.year == 2017,['genres','id','title','year']]
new_meta

,genres,id,title,year
26560,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0
26561,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141052,Justice League,2017.0
26565,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",284053,Thor: Ragnarok,2017.0
26566,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",283995,Guardians of the Galaxy Vol. 2,2017.0
30536,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",245842,The King's Daughter,2017.0
...,...,...,...,...
45398,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",468707,Thick Lashes of Lauri Mäntyvaara,2017.0
45417,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",461297,Cop and a Half: New Recruit,2017.0
45437,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",455661,In a Heartbeat,2017.0
45453,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",404604,Mom,2017.0
45465,[],461257,Queerama,2017.0

In [99]:
new_meta['id']=new_meta['id'].astype('int')

In [100]:
data = pd.merge(new_meta,credit,on='id')
data

,genres,id,title,year,cast,crew
0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'de..."
1,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'de..."
2,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', '...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'de..."
3,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / St...","[{'credit_id': '59171547925141583c0315a6', 'de..."
4,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV',...","[{'credit_id': '5431de49c3a36825d300007e', 'de..."
...,...,...,...,...,...,...
526,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",468707,Thick Lashes of Lauri Mäntyvaara,2017.0,"[{'cast_id': 0, 'character': 'Satu', 'credit_i...","[{'credit_id': '597e22f69251415d7801c74a', 'de..."
527,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",461297,Cop and a Half: New Recruit,2017.0,"[{'cast_id': 0, 'character': 'Detective Simmon...","[{'credit_id': '593ba0c29251410593009be3', 'de..."
528,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",455661,In a Heartbeat,2017.0,[],"[{'credit_id': '5981a15c92514151e0011b51', 'de..."
529,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",404604,Mom,2017.0,"[{'cast_id': 1, 'character': 'Devki Sabarwal',...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'de..."
530,[],461257,Queerama,2017.0,[],"[{'credit_id': '593e676c92514105b702e68e', 'de..."

In [101]:
import ast

data['genres'] = data['genres'].map(lambda x: ast.literal_eval(x))
data['cast'] = data['cast'].map(lambda x: ast.literal_eval(x))
data['crew'] = data['crew'].map(lambda x: ast.literal_eval(x))

In [102]:
data['genres']

0      [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
1      [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
2      [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
3      [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
4      [{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...
                             ...
526    [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
527    [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
528    [{'id': 10751, 'name': 'Family'}, {'id': 16, '...
529    [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...
530                                                   []
Name: genres, Length: 531, dtype: object

In [103]:
def make_genrelist(x):
    gen = []
    st = ' '
    for i in x:
        if i.get('name') == 'Science Fiction':
            gen.append('Sci-Fi')
        else:
            gen.append(i.get('name'))
    if gen == []:
        return np.NaN
    else:
        return (st.join(gen))

In [104]:
data['genres_list'] = data['genres'].map(lambda x:make_genrelist(x))
data

,genres,id,title,year,cast,crew,genres_list
0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'de...",Adventure Action Fantasy Comedy
1,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'de...",Action Adventure Fantasy Sci-Fi
2,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', '...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'de...",Action Adventure Fantasy Sci-Fi
3,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / St...","[{'credit_id': '59171547925141583c0315a6', 'de...",Action Adventure Comedy Sci-Fi
4,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV',...","[{'credit_id': '5431de49c3a36825d300007e', 'de...",Fantasy Action Adventure
...,...,...,...,...,...,...,...
526,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",468707,Thick Lashes of Lauri Mäntyvaara,2017.0,"[{'cast_id': 0, 'character': 'Satu', 'credit_i...","[{'credit_id': '597e22f69251415d7801c74a', 'de...",Romance Comedy
527,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",461297,Cop and a Half: New Recruit,2017.0,"[{'cast_id': 0, 'character': 'Detective Simmon...","[{'credit_id': '593ba0c29251410593009be3', 'de...",Crime Comedy Action Family
528,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",455661,In a Heartbeat,2017.0,[],"[{'credit_id': '5981a15c92514151e0011b51', 'de...",Family Animation Romance Comedy
529,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",404604,Mom,2017.0,"[{'cast_id': 1, 'character': 'Devki Sabarwal',...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'de...",Crime Drama Thriller
530,[],461257,Queerama,2017.0,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",NaN

In [105]:
data['crew'].loc[100]

[{'credit_id': '58474cf692514119af0026fd',
  'department': 'Directing',
  'gender': 0,
  'id': 16767,
  'job': 'Director',
  'name': 'Aki Kaurismäki',
  'profile_path': '/8nQcTzKUmRh6MPprd1n6iOauYPf.jpg'},
 {'credit_id': '5866d8039251413e49000a52',
  'department': 'Production',
  'gender': 0,
  'id': 16767,
  'job': 'Producer',
  'name': 'Aki Kaurismäki',
  'profile_path': '/8nQcTzKUmRh6MPprd1n6iOauYPf.jpg'},
 {'credit_id': '5866d7e99251413e3a000ac1',
  'department': 'Writing',
  'gender': 0,
  'id': 16767,
  'job': 'Writer',
  'name': 'Aki Kaurismäki',
  'profile_path': '/8nQcTzKUmRh6MPprd1n6iOauYPf.jpg'},
 {'credit_id': '5866d7dbc3a36810ea000b94',
  'department': 'Camera',
  'gender': 2,
  'id': 16769,
  'job': 'Director of Photography',
  'name': 'Timo Salminen',
  'profile_path': None},
 {'credit_id': '58d529af9251411f8102cd14',
  'department': 'Art',
  'gender': 0,
  'id': 16770,
  'job': 'Production Design',
  'name': 'Markku Pätilä',
  'profile_path': None},
 {'credit_id': '5866d8499251413e49000a83',
  'department': 'Sound',
  'gender': 0,
  'id': 16773,
  'job': 'Sound Designer',
  'name': 'Tero Malmberg',
  'profile_path': None},
 {'credit_id': '58d529cbc3a368123402af73',
  'department': 'Crew',
  'gender': 0,
  'id': 1089713,
  'job': 'In Memory Of',
  'name': 'Peter von Bagh',
  'profile_path': None},
 {'credit_id': '5866d829c3a36810e8000b9a',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1380791,
  'job': 'Costume Design',
  'name': 'Tiina Kaukanen',
  'profile_path': None},
 {'credit_id': '5866d85d9251413e41000bb7',
  'department': 'Lighting',
  'gender': 2,
  'id': 1381113,
  'job': 'Gaffer',
  'name': 'Olli Varja',
  'profile_path': None},
 {'credit_id': '5866d81ac3a36810e8000b92',
  'department': 'Editing',
  'gender': 0,
  'id': 1426710,
  'job': 'Editor',
  'name': 'Samu Heikkilä',
  'profile_path': None},
 {'credit_id': '58d52aeec3a3681267028334',
  'department': 'Camera',
  'gender': 0,
  'id': 1782986,
  'job': 'Still Photographer',
  'name': 'Marja-Leena Hukkanen',
  'profile_path': None},
 {'credit_id': '58d52b0ac3a368128902c6d0',
  'department': 'Camera',
  'gender': 0,
  'id': 1782987,
  'job': 'First Assistant Camera',
  'name': 'Mika Ailasmäki',
  'profile_path': None},
 {'credit_id': '58d52b289251411f8102ce5f',
  'department': 'Lighting',
  'gender': 0,
  'id': 1782988,
  'job': 'Lighting Technician',
  'name': 'Joonas Niemi',
  'profile_path': None}]

In [106]:
def get_actor1(x):
    cast=[]
    for i in x:
        cast.append(i.get('name'))
    if cast == [] or len(cast)<=1:
        return np.NAN
    else:
        return cast[0]

In [107]:
data['actor_1_name'] = data['cast'].map(lambda x: get_actor1(x))
data

,genres,id,title,year,cast,crew,genres_list,actor_1_name
0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'de...",Adventure Action Fantasy Comedy,Johnny Depp
1,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'de...",Action Adventure Fantasy Sci-Fi,Ben Affleck
2,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', '...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'de...",Action Adventure Fantasy Sci-Fi,Chris Hemsworth
3,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / St...","[{'credit_id': '59171547925141583c0315a6', 'de...",Action Adventure Comedy Sci-Fi,Chris Pratt
4,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV',...","[{'credit_id': '5431de49c3a36825d300007e', 'de...",Fantasy Action Adventure,Pierce Brosnan
...,...,...,...,...,...,...,...,...
526,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",468707,Thick Lashes of Lauri Mäntyvaara,2017.0,"[{'cast_id': 0, 'character': 'Satu', 'credit_i...","[{'credit_id': '597e22f69251415d7801c74a', 'de...",Romance Comedy,Inka Haapamäki
527,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",461297,Cop and a Half: New Recruit,2017.0,"[{'cast_id': 0, 'character': 'Detective Simmon...","[{'credit_id': '593ba0c29251410593009be3', 'de...",Crime Comedy Action Family,Lou Diamond Phillips
528,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",455661,In a Heartbeat,2017.0,[],"[{'credit_id': '5981a15c92514151e0011b51', 'de...",Family Animation Romance Comedy,NaN
529,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",404604,Mom,2017.0,"[{'cast_id': 1, 'character': 'Devki Sabarwal',...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'de...",Crime Drama Thriller,Sridevi Kapoor
530,[],461257,Queerama,2017.0,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",NaN,NaN

In [108]:
def actor_2(x):
    cast=[]
    for i in x:
        cast.append(i.get('name'))
    if cast == [] or len(cast)<=1:
        return np.NAN
    else:
        return cast[1]

In [109]:
data['actor_2_name'] = data['cast'].map(lambda x: actor_2(x))
data

,genres,id,title,year,cast,crew,genres_list,actor_1_name,actor_2_name
0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'de...",Adventure Action Fantasy Comedy,Johnny Depp,Javier Bardem
1,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'de...",Action Adventure Fantasy Sci-Fi,Ben Affleck,Henry Cavill
2,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', '...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'de...",Action Adventure Fantasy Sci-Fi,Chris Hemsworth,Tom Hiddleston
3,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / St...","[{'credit_id': '59171547925141583c0315a6', 'de...",Action Adventure Comedy Sci-Fi,Chris Pratt,Zoe Saldana
4,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV',...","[{'credit_id': '5431de49c3a36825d300007e', 'de...",Fantasy Action Adventure,Pierce Brosnan,William Hurt
...,...,...,...,...,...,...,...,...,...
526,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",468707,Thick Lashes of Lauri Mäntyvaara,2017.0,"[{'cast_id': 0, 'character': 'Satu', 'credit_i...","[{'credit_id': '597e22f69251415d7801c74a', 'de...",Romance Comedy,Inka Haapamäki,Rosa Honkonen
527,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",461297,Cop and a Half: New Recruit,2017.0,"[{'cast_id': 0, 'character': 'Detective Simmon...","[{'credit_id': '593ba0c29251410593009be3', 'de...",Crime Comedy Action Family,Lou Diamond Phillips,Wallace Shawn
528,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",455661,In a Heartbeat,2017.0,[],"[{'credit_id': '5981a15c92514151e0011b51', 'de...",Family Animation Romance Comedy,NaN,NaN
529,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",404604,Mom,2017.0,"[{'cast_id': 1, 'character': 'Devki Sabarwal',...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'de...",Crime Drama Thriller,Sridevi Kapoor,Sajal Ali
530,[],461257,Queerama,2017.0,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",NaN,NaN,NaN

In [110]:
def actor_3(x):
    cast=[]
    for i in x:
        cast.append(i.get('name'))
    if cast == [] or len(cast)<=1:
        return np.NAN
    else:
        return cast[1]

In [111]:
data['actor_3_name'] = data['cast'].map(lambda x: actor_3(x))
data

,genres,id,title,year,cast,crew,genres_list,actor_1_name,actor_2_name,actor_3_name
0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'de...",Adventure Action Fantasy Comedy,Johnny Depp,Javier Bardem,Javier Bardem
1,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'de...",Action Adventure Fantasy Sci-Fi,Ben Affleck,Henry Cavill,Henry Cavill
2,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', '...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'de...",Action Adventure Fantasy Sci-Fi,Chris Hemsworth,Tom Hiddleston,Tom Hiddleston
3,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / St...","[{'credit_id': '59171547925141583c0315a6', 'de...",Action Adventure Comedy Sci-Fi,Chris Pratt,Zoe Saldana,Zoe Saldana
4,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV',...","[{'credit_id': '5431de49c3a36825d300007e', 'de...",Fantasy Action Adventure,Pierce Brosnan,William Hurt,William Hurt
...,...,...,...,...,...,...,...,...,...,...
526,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",468707,Thick Lashes of Lauri Mäntyvaara,2017.0,"[{'cast_id': 0, 'character': 'Satu', 'credit_i...","[{'credit_id': '597e22f69251415d7801c74a', 'de...",Romance Comedy,Inka Haapamäki,Rosa Honkonen,Rosa Honkonen
527,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",461297,Cop and a Half: New Recruit,2017.0,"[{'cast_id': 0, 'character': 'Detective Simmon...","[{'credit_id': '593ba0c29251410593009be3', 'de...",Crime Comedy Action Family,Lou Diamond Phillips,Wallace Shawn,Wallace Shawn
528,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",455661,In a Heartbeat,2017.0,[],"[{'credit_id': '5981a15c92514151e0011b51', 'de...",Family Animation Romance Comedy,NaN,NaN,NaN
529,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",404604,Mom,2017.0,"[{'cast_id': 1, 'character': 'Devki Sabarwal',...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'de...",Crime Drama Thriller,Sridevi Kapoor,Sajal Ali,Sajal Ali
530,[],461257,Queerama,2017.0,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",NaN,NaN,NaN,NaN

In [112]:
def  get_director(x):
    dt = []
    st = ' '
    for i in x:
        if i.get('job') == 'Director':
            dt.append(i.get('name'))
    if dt == []:
        return np.NaN
    else:
        return st.join(dt)

In [113]:
data['director_name'] = data['crew'].map(lambda x: get_director(x))
data

,genres,id,title,year,cast,crew,genres_list,actor_1_name,actor_2_name,actor_3_name,director_name
0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'de...",Adventure Action Fantasy Comedy,Johnny Depp,Javier Bardem,Javier Bardem,Joachim Rønning Espen Sandberg
1,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'de...",Action Adventure Fantasy Sci-Fi,Ben Affleck,Henry Cavill,Henry Cavill,Zack Snyder
2,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', '...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'de...",Action Adventure Fantasy Sci-Fi,Chris Hemsworth,Tom Hiddleston,Tom Hiddleston,Taika Waititi
3,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / St...","[{'credit_id': '59171547925141583c0315a6', 'de...",Action Adventure Comedy Sci-Fi,Chris Pratt,Zoe Saldana,Zoe Saldana,James Gunn
4,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV',...","[{'credit_id': '5431de49c3a36825d300007e', 'de...",Fantasy Action Adventure,Pierce Brosnan,William Hurt,William Hurt,Sean McNamara
...,...,...,...,...,...,...,...,...,...,...,...
526,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",468707,Thick Lashes of Lauri Mäntyvaara,2017.0,"[{'cast_id': 0, 'character': 'Satu', 'credit_i...","[{'credit_id': '597e22f69251415d7801c74a', 'de...",Romance Comedy,Inka Haapamäki,Rosa Honkonen,Rosa Honkonen,Hannaleena Hauru
527,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",461297,Cop and a Half: New Recruit,2017.0,"[{'cast_id': 0, 'character': 'Detective Simmon...","[{'credit_id': '593ba0c29251410593009be3', 'de...",Crime Comedy Action Family,Lou Diamond Phillips,Wallace Shawn,Wallace Shawn,Jonathan A. Rosenbaum
528,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",455661,In a Heartbeat,2017.0,[],"[{'credit_id': '5981a15c92514151e0011b51', 'de...",Family Animation Romance Comedy,NaN,NaN,NaN,Beth David Esteban Bravo
529,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",404604,Mom,2017.0,"[{'cast_id': 1, 'character': 'Devki Sabarwal',...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'de...",Crime Drama Thriller,Sridevi Kapoor,Sajal Ali,Sajal Ali,Ravi Udyawar
530,[],461257,Queerama,2017.0,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",NaN,NaN,NaN,NaN,Daisy Asquith

In [114]:
movie  =  data.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','title','genres_list']]
movie

,director_name,actor_1_name,actor_2_name,actor_3_name,title,genres_list
0,Joachim Rønning Espen Sandberg,Johnny Depp,Javier Bardem,Javier Bardem,Pirates of the Caribbean: Dead Men Tell No Tales,Adventure Action Fantasy Comedy
1,Zack Snyder,Ben Affleck,Henry Cavill,Henry Cavill,Justice League,Action Adventure Fantasy Sci-Fi
2,Taika Waititi,Chris Hemsworth,Tom Hiddleston,Tom Hiddleston,Thor: Ragnarok,Action Adventure Fantasy Sci-Fi
3,James Gunn,Chris Pratt,Zoe Saldana,Zoe Saldana,Guardians of the Galaxy Vol. 2,Action Adventure Comedy Sci-Fi
4,Sean McNamara,Pierce Brosnan,William Hurt,William Hurt,The King's Daughter,Fantasy Action Adventure
...,...,...,...,...,...,...
526,Hannaleena Hauru,Inka Haapamäki,Rosa Honkonen,Rosa Honkonen,Thick Lashes of Lauri Mäntyvaara,Romance Comedy
527,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Wallace Shawn,Cop and a Half: New Recruit,Crime Comedy Action Family
528,Beth David Esteban Bravo,NaN,NaN,NaN,In a Heartbeat,Family Animation Romance Comedy
529,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Sajal Ali,Mom,Crime Drama Thriller
530,Daisy Asquith,NaN,NaN,NaN,Queerama,NaN

In [115]:
movie.isna().sum()

director_name     4
actor_1_name     55
actor_2_name     55
actor_3_name     55
title             0
genres_list       7
dtype: int64

In [116]:
movie.dropna(how='any',inplace=True)
movie

,director_name,actor_1_name,actor_2_name,actor_3_name,title,genres_list
0,Joachim Rønning Espen Sandberg,Johnny Depp,Javier Bardem,Javier Bardem,Pirates of the Caribbean: Dead Men Tell No Tales,Adventure Action Fantasy Comedy
1,Zack Snyder,Ben Affleck,Henry Cavill,Henry Cavill,Justice League,Action Adventure Fantasy Sci-Fi
2,Taika Waititi,Chris Hemsworth,Tom Hiddleston,Tom Hiddleston,Thor: Ragnarok,Action Adventure Fantasy Sci-Fi
3,James Gunn,Chris Pratt,Zoe Saldana,Zoe Saldana,Guardians of the Galaxy Vol. 2,Action Adventure Comedy Sci-Fi
4,Sean McNamara,Pierce Brosnan,William Hurt,William Hurt,The King's Daughter,Fantasy Action Adventure
...,...,...,...,...,...,...
524,Jim Strouse,Jessica Williams,Chris O'Dowd,Chris O'Dowd,The Incredible Jessica James,Romance Comedy
525,Farhad Mann,Adelaide Kane,Benjamin Hollingsworth,Benjamin Hollingsworth,Can't Buy My Love,Romance
526,Hannaleena Hauru,Inka Haapamäki,Rosa Honkonen,Rosa Honkonen,Thick Lashes of Lauri Mäntyvaara,Romance Comedy
527,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Wallace Shawn,Cop and a Half: New Recruit,Crime Comedy Action Family
529,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Sajal Ali,Mom,Crime Drama Thriller

In [117]:
movie=movie.rename(columns={'genres_list':"genres"})
movie=movie.rename(columns={'title':"movie_title"})
movie['movie_title']=movie['movie_title'].str.lower()
movie

,director_name,actor_1_name,actor_2_name,actor_3_name,movie_title,genres
0,Joachim Rønning Espen Sandberg,Johnny Depp,Javier Bardem,Javier Bardem,pirates of the caribbean: dead men tell no tales,Adventure Action Fantasy Comedy
1,Zack Snyder,Ben Affleck,Henry Cavill,Henry Cavill,justice league,Action Adventure Fantasy Sci-Fi
2,Taika Waititi,Chris Hemsworth,Tom Hiddleston,Tom Hiddleston,thor: ragnarok,Action Adventure Fantasy Sci-Fi
3,James Gunn,Chris Pratt,Zoe Saldana,Zoe Saldana,guardians of the galaxy vol. 2,Action Adventure Comedy Sci-Fi
4,Sean McNamara,Pierce Brosnan,William Hurt,William Hurt,the king's daughter,Fantasy Action Adventure
...,...,...,...,...,...,...
524,Jim Strouse,Jessica Williams,Chris O'Dowd,Chris O'Dowd,the incredible jessica james,Romance Comedy
525,Farhad Mann,Adelaide Kane,Benjamin Hollingsworth,Benjamin Hollingsworth,can't buy my love,Romance
526,Hannaleena Hauru,Inka Haapamäki,Rosa Honkonen,Rosa Honkonen,thick lashes of lauri mäntyvaara,Romance Comedy
527,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Wallace Shawn,cop and a half: new recruit,Crime Comedy Action Family
529,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Sajal Ali,mom,Crime Drama Thriller

In [118]:
movie['comb'] = movie['actor_1_name'] + " "+ movie['actor_2_name'] + " "+ movie['actor_3_name'] + " "+ movie['director_name'] + " " +movie['genres']+ " " + movie['movie_title']+ " " + movie['director_name']
movie

,director_name,actor_1_name,actor_2_name,actor_3_name,movie_title,genres,comb
0,Joachim Rønning Espen Sandberg,Johnny Depp,Javier Bardem,Javier Bardem,pirates of the caribbean: dead men tell no tales,Adventure Action Fantasy Comedy,Johnny Depp Javier Bardem Javier Bardem Joachi...
1,Zack Snyder,Ben Affleck,Henry Cavill,Henry Cavill,justice league,Action Adventure Fantasy Sci-Fi,Ben Affleck Henry Cavill Henry Cavill Zack Sny...
2,Taika Waititi,Chris Hemsworth,Tom Hiddleston,Tom Hiddleston,thor: ragnarok,Action Adventure Fantasy Sci-Fi,Chris Hemsworth Tom Hiddleston Tom Hiddleston ...
3,James Gunn,Chris Pratt,Zoe Saldana,Zoe Saldana,guardians of the galaxy vol. 2,Action Adventure Comedy Sci-Fi,Chris Pratt Zoe Saldana Zoe Saldana James Gunn...
4,Sean McNamara,Pierce Brosnan,William Hurt,William Hurt,the king's daughter,Fantasy Action Adventure,Pierce Brosnan William Hurt William Hurt Sean ...
...,...,...,...,...,...,...,...
524,Jim Strouse,Jessica Williams,Chris O'Dowd,Chris O'Dowd,the incredible jessica james,Romance Comedy,Jessica Williams Chris O'Dowd Chris O'Dowd Jim...
525,Farhad Mann,Adelaide Kane,Benjamin Hollingsworth,Benjamin Hollingsworth,can't buy my love,Romance,Adelaide Kane Benjamin Hollingsworth Benjamin ...
526,Hannaleena Hauru,Inka Haapamäki,Rosa Honkonen,Rosa Honkonen,thick lashes of lauri mäntyvaara,Romance Comedy,Inka Haapamäki Rosa Honkonen Rosa Honkonen Han...
527,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Wallace Shawn,cop and a half: new recruit,Crime Comedy Action Family,Lou Diamond Phillips Wallace Shawn Wallace Sha...
529,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Sajal Ali,mom,Crime Drama Thriller,Sridevi Kapoor Sajal Ali Sajal Ali Ravi Udyawa...

In [119]:
old = pd.read_csv('data.csv')
old

,director_name,actor_1_name,actor_2_name,actor_3_name,movie_title,genres
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,avatar,Action Adventure Fantasy Sci-Fi
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,pirates of the caribbean: at world's end,Action Adventure Fantasy
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,spectre,Action Adventure Thriller
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,the dark knight rises,Action Thriller
4,Doug Walker,Doug Walker,Rob Walker,unknown,star wars: episode vii - the force awakens ...,Documentary
...,...,...,...,...,...,...
5038,Scott Smith,Eric Mabius,Daphne Zuniga,Crystal Lowe,signed sealed delivered,Comedy Drama
5039,unknown,Natalie Zea,Valorie Curry,Sam Underwood,the following,Crime Drama Mystery Thriller
5040,Benjamin Roberds,Eva Boehnke,Maxwell Moody,David Chandler,a plague so pleasant,Drama Horror Thriller
5041,Daniel Hsia,Alan Ruck,Daniel Henney,Eliza Coupe,shanghai calling,Comedy Drama Romance
5042,Jon Gunn,John August,Brian Herzlinger,Jon Gunn,my date with drew,Documentary

In [120]:
old['comb'] = old['actor_1_name'] + " " + old['actor_2_name'] + " "+ old['actor_3_name'] + " "+ old['director_name'] + " " +old['genres']+ " " + old['movie_title']+ " " + old['director_name']
old

,director_name,actor_1_name,actor_2_name,actor_3_name,movie_title,genres,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,avatar,Action Adventure Fantasy Sci-Fi,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,pirates of the caribbean: at world's end,Action Adventure Fantasy,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,spectre,Action Adventure Thriller,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,the dark knight rises,Action Thriller,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,star wars: episode vii - the force awakens ...,Documentary,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...
5038,Scott Smith,Eric Mabius,Daphne Zuniga,Crystal Lowe,signed sealed delivered,Comedy Drama,Eric Mabius Daphne Zuniga Crystal Lowe Scott S...
5039,unknown,Natalie Zea,Valorie Curry,Sam Underwood,the following,Crime Drama Mystery Thriller,Natalie Zea Valorie Curry Sam Underwood unknow...
5040,Benjamin Roberds,Eva Boehnke,Maxwell Moody,David Chandler,a plague so pleasant,Drama Horror Thriller,Eva Boehnke Maxwell Moody David Chandler Benja...
5041,Daniel Hsia,Alan Ruck,Daniel Henney,Eliza Coupe,shanghai calling,Comedy Drama Romance,Alan Ruck Daniel Henney Eliza Coupe Daniel Hsi...
5042,Jon Gunn,John August,Brian Herzlinger,Jon Gunn,my date with drew,Documentary,John August Brian Herzlinger Jon Gunn Jon Gunn...

In [121]:
new  =  pd.concat([old,movie])
new

,director_name,actor_1_name,actor_2_name,actor_3_name,movie_title,genres,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,avatar,Action Adventure Fantasy Sci-Fi,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,pirates of the caribbean: at world's end,Action Adventure Fantasy,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,spectre,Action Adventure Thriller,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,the dark knight rises,Action Thriller,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,star wars: episode vii - the force awakens ...,Documentary,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...
524,Jim Strouse,Jessica Williams,Chris O'Dowd,Chris O'Dowd,the incredible jessica james,Romance Comedy,Jessica Williams Chris O'Dowd Chris O'Dowd Jim...
525,Farhad Mann,Adelaide Kane,Benjamin Hollingsworth,Benjamin Hollingsworth,can't buy my love,Romance,Adelaide Kane Benjamin Hollingsworth Benjamin ...
526,Hannaleena Hauru,Inka Haapamäki,Rosa Honkonen,Rosa Honkonen,thick lashes of lauri mäntyvaara,Romance Comedy,Inka Haapamäki Rosa Honkonen Rosa Honkonen Han...
527,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Wallace Shawn,cop and a half: new recruit,Crime Comedy Action Family,Lou Diamond Phillips Wallace Shawn Wallace Sha...
529,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Sajal Ali,mom,Crime Drama Thriller,Sridevi Kapoor Sajal Ali Sajal Ali Ravi Udyawa...

In [122]:
new = new.drop_duplicates(subset='movie_title',keep='last',ignore_index=False)
new

,director_name,actor_1_name,actor_2_name,actor_3_name,movie_title,genres,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,avatar,Action Adventure Fantasy Sci-Fi,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,pirates of the caribbean: at world's end,Action Adventure Fantasy,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,spectre,Action Adventure Thriller,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,the dark knight rises,Action Thriller,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,star wars: episode vii - the force awakens ...,Documentary,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...
524,Jim Strouse,Jessica Williams,Chris O'Dowd,Chris O'Dowd,the incredible jessica james,Romance Comedy,Jessica Williams Chris O'Dowd Chris O'Dowd Jim...
525,Farhad Mann,Adelaide Kane,Benjamin Hollingsworth,Benjamin Hollingsworth,can't buy my love,Romance,Adelaide Kane Benjamin Hollingsworth Benjamin ...
526,Hannaleena Hauru,Inka Haapamäki,Rosa Honkonen,Rosa Honkonen,thick lashes of lauri mäntyvaara,Romance Comedy,Inka Haapamäki Rosa Honkonen Rosa Honkonen Han...
527,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Wallace Shawn,cop and a half: new recruit,Crime Comedy Action Family,Lou Diamond Phillips Wallace Shawn Wallace Sha...
529,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Sajal Ali,mom,Crime Drama Thriller,Sridevi Kapoor Sajal Ali Sajal Ali Ravi Udyawa...

In [123]:
new.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
movie_title      0
genres           0
comb             0
dtype: int64

In [124]:
new.dropna(how="any",inplace=True)
new

/tmp/ipykernel_4869/2063660871.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new.dropna(how="any",inplace=True)

,director_name,actor_1_name,actor_2_name,actor_3_name,movie_title,genres,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,avatar,Action Adventure Fantasy Sci-Fi,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,pirates of the caribbean: at world's end,Action Adventure Fantasy,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,spectre,Action Adventure Thriller,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,the dark knight rises,Action Thriller,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,star wars: episode vii - the force awakens ...,Documentary,Doug Walker Rob Walker unknown Doug Walker Doc...
...,...,...,...,...,...,...,...
524,Jim Strouse,Jessica Williams,Chris O'Dowd,Chris O'Dowd,the incredible jessica james,Romance Comedy,Jessica Williams Chris O'Dowd Chris O'Dowd Jim...
525,Farhad Mann,Adelaide Kane,Benjamin Hollingsworth,Benjamin Hollingsworth,can't buy my love,Romance,Adelaide Kane Benjamin Hollingsworth Benjamin ...
526,Hannaleena Hauru,Inka Haapamäki,Rosa Honkonen,Rosa Honkonen,thick lashes of lauri mäntyvaara,Romance Comedy,Inka Haapamäki Rosa Honkonen Rosa Honkonen Han...
527,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Wallace Shawn,cop and a half: new recruit,Crime Comedy Action Family,Lou Diamond Phillips Wallace Shawn Wallace Sha...
529,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Sajal Ali,mom,Crime Drama Thriller,Sridevi Kapoor Sajal Ali Sajal Ali Ravi Udyawa...

In [125]:
new.to_csv('new_data.csv',index=False)

In [126]:
# lst = []
# for row in movie:
#     lst.append(row)
# df_extend =  pd.DataFrame(lst,columns=['director_name','actor_1_name','actor_2_name','actor_3_name','movie_title','genres','comb'])
# new = pd.concat([old,df_extend])
# new

In [127]:
# new = pd.concat([old,pd.DataFrame[(movie)]],ignore_index=True)
# new=pd.concate([old,movie],axis=1)
# old.loc[len(old)]=movie
# new = pd.DataFrame(old).append(movie,ignore_index=True)

# new

In [128]:
# new.drop_duplicates(subset = 'movie_title',keep='last',inplace=True)